/* Zachariah Bragg 6/26/2026 Module 6 */

body {
    background-color: #f5f5f5;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ce1141;
}

h2 {
    color: #13274F;
}

p {
    color: #000000;
    font-size: 16px;
}

a {
    color: #0000ff;
}

a:hover {
    color: #eaaa00;
}

/* 
#CE1141, scarlett
#13274F, navy
#EAAA00, gold
*/